<div class="container">

  <md-toolbar class="post-tools">
    <h1>{{title}}</h1>
    <span class="nav-spacer"></span>
    <md-select placeholder="Поле сортировки" mdTooltip="Выберете поле для сортировки" floatPlaceholder="never">
      <md-option (click)="changeSortDirection(field.value, sortDirection)" *ngFor="let field of sortFields" [value]="field.value">
        {{field.label}}
      </md-option>
    </md-select>
    <button (click)="changeSortDirection(currSortField, 'desc')"
            md-icon-button mdTooltip="Отсортировать по убыванию">
      <md-icon [ngClass]="{'green-colored': sortDirection === 'desc'}">keyboard_arrow_down</md-icon>
    </button>
    <button (click)="changeSortDirection(currSortField, 'asc')"
            md-icon-button mdTooltip="Отсортировать по возростанию">
      <md-icon [ngClass]="{'green-colored': sortDirection === 'asc'}">keyboard_arrow_up</md-icon>
    </button>
    <button (click)="gotoNew()" md-icon-button mdTooltip="Создать публикацию">
      <md-icon class="green-colored">add</md-icon>
    </button>
  </md-toolbar>

  <div class="card-wrapper" *ngFor="let post of postsList">
    <md-card class="example-card">
      <md-card-header>
        <md-card-title>{{post.title}}</md-card-title>
        <md-card-subtitle>{{post.createdAt | date}}</md-card-subtitle>
        <span class="nav-spacer"></span>
        <md-chip-list class="mat-chip-list-stacked custom-chip">
          <md-chip class="badge-green">{{post.typeLabel}}</md-chip>
        </md-chip-list>
        <button (click)="gotoEdit(post.id)"
                color="primary" md-icon-button mdTooltip="Редактировать">
          <md-icon>mode_edit</md-icon>
        </button>
        <button (click)="deletePost(post.id)" color="warn" md-icon-button mdTooltip="Удалить публикацию">
          <md-icon>delete</md-icon>
        </button>
      </md-card-header>
      <md-card-content>
        <div [innerHTML]='post.content'></div>
      </md-card-content>
    </md-card>
  </div>
</div>
