<div class="container">
  <md-card class="example-card">
    <md-card-header>
      <md-card-title>
        <span *ngIf="postData !== null; else createNew">Редактировать {{title}}</span>
        <ng-template #createNew>Создать новую публикацию</ng-template>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput [(ngModel)]="title" placeholder="Введите название">
      </md-input-container>
      <app-tinymce [(ngModel)]='editorContent'></app-tinymce>
    </md-card-content>
    <md-input-container class="full-width">
      <input mdInput [(ngModel)]="typeLabel" placeholder="Введите метку">
    </md-input-container>
    <md-card-actions>
      <div *ngIf="postData !== null; else createBtn">
        <button (click)="updatePost()" class="green-colored" md-button>Сохранить</button>
      </div>
      <ng-template #createBtn>
        <button (click)="createPost()" class="green-colored" md-button>Создать</button>
      </ng-template>
    </md-card-actions>
  </md-card>
</div>
