<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar class="mat-toolbar-custom">
  <a class="logo-link" routerLink="/">RE<span class="green-colored">FLECTION</span></a>
  <span class="nav-spacer"></span>
  <button md-button routerLink="/lore" routerLinkActive="active">Лор</button>
  <button md-button routerLink="/characters" routerLinkActive="active">Персонажи</button>
  <button md-button routerLink="/items" routerLinkActive="active">Предметы</button>
</md-toolbar>
<router-outlet></router-outlet>
